form label {
    display: block;
}

.error {
    color: red;
    font-style: italic;
    font-weight: bold;
}

.fa-trash-alt {

    position: relative;
    left: 40px;
}

.panier {

    display: flex;
    font-size: 25px;
}

.align {

    position: relative;
    right: 45px; !important;
}

a {
    color: rgba(19, 19, 19, 0.98);
}

body {
    background-image: linear-gradient(to bottom, #45cf81, #00afac, #0089c7, #005bba, #501d7d);
    background-repeat: no-repeat;
    background-attachment:fixed;
}


